<ion-view title="E Test">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <tristate-button info="A"></tristate-button>
            <div class="spacer" style="height: 40px;"></div>
            <tristate-button info="B"></tristate-button>
            <div class="spacer" style="height: 40px;"></div>
            <tristate-button info="C"></tristate-button>
            <div class="spacer" style="height: 40px;"></div>
            <tristate-button info="D"></tristate-button>
            <div class="spacer" style="height: 40px;"></div>
        </form>
        <a class="button button-stable button-block " ng-click="genrateGraph()">End Test</a>
    </ion-content>
</ion-view>