<ion-view title="E Test">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <!--<tristate-button info="row1"></tristate-button>-->
            <!--<tristate-button info="row2"></tristate-button>
            <tristate-button info="row3"></tristate-button>
            <tristate-button info="row4"></tristate-button>-->
            
            	<div class="list list-inset">
                    
                </div>
        </form>
        <a href="#/page1" class="button button-stable button-block ">End Test</a>
    </ion-content>
</ion-view>