<ion-view title="SLanC Test">
    <ion-content padding="true" class="has-header">
        <form class="list" novalidate="" name="eTestResultForm">
            <div class="row row-top">
                <div class="col col-25 text-center">Left</div>
                <div class="col col-25 text-center">Left Glare</div>
                <div class="col col-25 text-center">Right</div>
                <div class="col col-25 text-center">Right Glare</div>
            </div>

            <div class="row">
                <div class="col col-25">
                    <div class="row">
                        <div class="col col-70">
                     <select name="LA" ng-model="LA" ng-change="updateGraph(eTestResultForm)">
                        <option value="" selected>-</option>
                        <option>0.1</option>
                        <option>0.2</option>
                        <option>0.3</option>
                        <option>0.4</option>
                        <option>0.5</option>
                        <option>0.6</option>
                        <option>0.7</option>
                        <option>0.8</option>
                        <option>0.9</option>
                        <option>1</option>
                        <option>1.2</option>
                        <option>1.5</option>
                    </select>
                        </div>
                        <div class="col col-30">
                            <select name="LA" ng-model="LAG" ng-change="updateGraph(eTestResultForm)">
                        <option value="" selected>-</option>
                        <option>-1</option>
                    </select>

                        </div>
                    </div>
                    <label class="item item-input">
                  <div class="input-label">
                        B:
                    </div>
                     <select name="LB" ng-model="LB" ng-change="updateGraph(eTestResultForm)">
                       <option value="" selected>-</option>
                        <option>B</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                    </select>
                </label>
                    <label class="item item-input">
                  <div class="input-label">
                        C:
                    </div>
                     <select name="LC" ng-model="LC" ng-change="updateGraph(eTestResultForm)">
                        <option value="" selected>-</option>
                        <option>C</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        
                    </select>
                </label>
                    <label class="item item-input">
                  <div class="input-label">
                        
                    </div>
                     <select name="LD" ng-model="LD" ng-change="updateGraph(eTestResultForm)">
                         <option value="" selected>-</option>
                        <option>100%</option>
                        <option>40%</option>
                        <option>20%</option>
                        <option>10%</option>
                        <option>5%</option>
                    </select>
                </label>
                </div>
                <div class="col col-25">
                    <div class="row">
                        <div class="col col-70">
                     <select name="LGA" ng-model="LGA" ng-change="updateGraph(eTestResultForm)">
                         <option value="" selected>-</option>
                        <option>0.1</option>
                        <option>0.2</option>
                        <option>0.3</option>
                        <option>0.4</option>
                        <option>0.5</option>
                        <option>0.6</option>
                        <option>0.7</option>
                        <option>0.8</option>
                        <option>0.9</option>
                        <option>1</option>
                        <option>1.2</option>
                        <option>1.5</option>
                    </select>
                        </div>
                        <div class="col col-30">
                            <select name="LGAG" ng-model="LGAG" ng-change="updateGraph(eTestResultForm)">
                        <option value="" selected>-</option>
                        <option>-1</option>
                    </select>

                        </div>
                    </div>
                    <label class="item item-input">
                  <div class="input-label">
                        B:
                    </div>
                     <select name="LGB" ng-model="LGB" ng-change="updateGraph(eTestResultForm)">
                       <option value="" selected>-</option>
                        <option>B</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                    </select>
                </label>
                    <label class="item item-input">
                  <div class="input-label">
                        C:
                    </div>
                     <select name="LGC" ng-model="LGC" ng-change="updateGraph(eTestResultForm)">
                        <option value="" selected>-</option>
                        <option>C</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        
                    </select>
                </label>
                    <label class="item item-input">
                  <div class="input-label">
                        
                    </div>
                     <select name="LGD" ng-model="LGD" ng-change="updateGraph(eTestResultForm)">
                         <option value="" selected>-</option>
                        <option>100%</option>
                        <option>40%</option>
                        <option>20%</option>
                        <option>10%</option>
                        <option>5%</option>
                    </select>
                </label>
                </div>
                <div class="col col-25">
                    <div class="row">
                        <div class="col col-70">
                     <select name="RA" ng-model="RA" ng-change="updateGraph(eTestResultForm)">
                        <option value="" selected>-</option>
                        <option>0.1</option>
                        <option>0.2</option>
                        <option>0.3</option>
                        <option>0.4</option>
                        <option>0.5</option>
                        <option>0.6</option>
                        <option>0.7</option>
                        <option>0.8</option>
                        <option>0.9</option>
                        <option>1</option>
                        <option>1.2</option>
                        <option>1.5</option>
                    </select>
                        </div>
                        <div class="col col-30">
                            <select name="RAG" ng-model="RAG" ng-change="updateGraph(eTestResultForm)">
                         <option value="" selected>-</option>
                        <option>-1</option>
                    </select>

                        </div>
                    </div>
                    <label class="item item-input">
                  <div class="input-label">
                        B:
                    </div>
                     <select name="RB" ng-model="RB" ng-change="updateGraph(eTestResultForm)">
                       <option value="" selected>-</option>
                        <option>B</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                    </select>
                </label>
                    <label class="item item-input">
                  <div class="input-label">
                        C:
                    </div>
                     <select name="RC" ng-model="RC" ng-change="updateGraph(eTestResultForm)">
                        <option value="" selected>-</option>
                        <option>C</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        
                    </select>
                </label>
                    <label class="item item-input">
                  <div class="input-label">
                        
                    </div>
                     <select name="RD" ng-model="RD" ng-change="updateGraph(eTestResultForm)">
                         <option value="" selected>-</option>
                        <option>100%</option>
                        <option>40%</option>
                        <option>20%</option>
                        <option>10%</option>
                        <option>5%</option>
                    </select>
                </label>
                </div>
                <div class="col col-25">
                    <div class="row">
                        <div class="col col-70">
                     <select name="RGA" ng-model="RGA" ng-change="updateGraph(eTestResultForm)">
                        <option value="" selected>-</option>
                        <option>0.1</option>
                        <option>0.2</option>
                        <option>0.3</option>
                        <option>0.4</option>
                        <option>0.5</option>
                        <option>0.6</option>
                        <option>0.7</option>
                        <option>0.8</option>
                        <option>0.9</option>
                        <option>1</option>
                        <option>1.2</option>
                        <option>1.5</option>
                    </select>
                        </div>
                        <div class="col col-30">
                            <select name="RGA" ng-model="RGAG" ng-change="updateGraph(eTestResultForm)">
                         <option value="" selected>-</option>
                        <option>-1</option>
                    </select>

                        </div>
                    </div>
                    <label class="item item-input">
                  <div class="input-label">
                        B:
                    </div>
                     <select name="RGB" ng-model="RGB" ng-change="updateGraph(eTestResultForm)">
                       <option value="" selected>-</option>
                        <option>B</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                    </select>
                </label>
                    <label class="item item-input">
                  <div class="input-label">
                        C:
                    </div>
                     <select name="RGCG" ng-model="RGC" ng-change="updateGraph(eTestResultForm)">
                        <option value="" selected>-</option>
                        <option>C</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        
                    </select>
                </label>
                    <label class="item item-input">
                  <div class="input-label">
                        
                    </div>
                     <select name="RGD" ng-model="RGD" ng-change="updateGraph(eTestResultForm)">
                         <option value="" selected>-</option>
                        <option>100%</option>
                        <option>40%</option>
                        <option>20%</option>
                        <option>10%</option>
                        <option>5%</option>
                    </select>
                </label>
                </div>
            </div>
        </form>
        <div d3-bars id="graph" result-edata="result"></div>
    </ion-content>
</ion-view>