<div class="row">
    <div class="col">
        <div class="input-label">
            None
        </div>
    </div>
    <div class="col">
        <div class="input-label">
            {{row.section}}
        </div>
    </div>
    <div class="col" ng-repeat="d in row.data">
        <label class="item item-input item-select">
            <div class="input-label">
                {{d.boxno}}
            </div>
            <select ng-model="d.selected" ng-options="opt as opt.label for opt in d.selectoptions">
                <!--<option ng-repeat="s in  d.selectoptions" ng-value="s.id">{{s.label}} </option>-->
            </select>
        </label>
    </div>
</div>